
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="shortcut icon" href="../../assets/ico/favicon.png">

  <title>Curto Café</title>

  <!-- Bootstrap core CSS -->
  <link href="http://getbootstrap.com/dist/css/bootstrap.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="navbar.css" rel="stylesheet">

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script src="../../assets/js/html5shiv.js"></script>
  <script src="../../assets/js/respond.min.js"></script>
  <![endif]-->
</head>

<body>

<div class="container">
  <!-- Static navbar -->
  <div class="navbar navbar-default">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/contrib/index">Curto Café</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
       <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Contribuições<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="/contrib/index">Index</a></li>
            <li><a href="/contrib/detalhes">Detalhes</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Email <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="/email/personalizado">Personalizado</a></li>
            <li><a href="/email/geral">Geral</a></li>
          </ul>
        </li>



        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Consumo<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <% if @current_user  %><li><%= link_to "Detalhes", detalhes_consumo_path(@current_user.id), 'data-ajax' => "false" %></li><% end %>
            <li><a href="/email/geral">Geral</a></li>
          </ul>
        </li>
      </ul>

      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Clientes">
        </div>
        <button type="submit" class="btn btn-default">Buscar</button>
        <%= link_to 'Novo cliente', novo_cliente_consumo_path, :class => "btn btn-primary" %>
      </form>

      <ul class="nav navbar-nav navbar-right">
        <% if @current_user  %><li class="active"><a href="./"><div class="glyphicon glyphicon-user"></div> <%= @current_user.nome %></a></li>      <% end %>
      </ul>

    </div><!--/.nav-collapse -->
  </div>

  <!-- Main component for a primary marketing message or call to action -->
  <div class="jumbotron">
    <%= yield %>
  </div>

</div> <!-- /container -->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="http://getbootstrap.com/assets/js/jquery.js"></script>
<script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>
</body>
</html>
